openapi: 3.0.3
info:
  title: Prisma Glow API
  description: |
    Production-ready API for the Prisma Glow accounting and audit platform.
    
    ## Authentication
    All protected endpoints require a valid JWT token from Supabase Auth.
    
    ## Rate Limiting
    - AI endpoints: 20 requests/minute
    - Auth endpoints: 10 requests/minute
    - Default: 100 requests/minute
  version: 3.0.0
  contact:
    name: API Support
    url: https://github.com/ikanisa/prisma

servers:
  - url: https://prisma.ikanisa.com
    description: Production
  - url: http://localhost:3000
    description: Development

tags:
  - name: Health
    description: Health check endpoints
  - name: AI
    description: AI and agent endpoints
  - name: ChatKit
    description: Chat session management
  - name: Auth
    description: Authentication endpoints

paths:
  /api/health:
    get:
      tags: [Health]
      summary: Health check
      description: Returns system health status
      responses:
        '200':
          description: System healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
        '503':
          description: System unhealthy

  /api/ai/status:
    get:
      tags: [AI]
      summary: AI service status
      description: Returns AI service availability
      security:
        - bearerAuth: []
      responses:
        '200':
          description: AI status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIStatusResponse'

  /api/agent/orchestrator:
    post:
      tags: [AI]
      summary: Agent query
      description: Send a query to the AI agent
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentRequest'
      responses:
        '200':
          description: Agent response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/chatkit/session:
    get:
      tags: [ChatKit]
      summary: Get chat sessions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of sessions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChatSession'
    post:
      tags: [ChatKit]
      summary: Create chat session
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
      responses:
        '201':
          description: Session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatSession'

  /api/chatkit/message:
    post:
      tags: [ChatKit]
      summary: Send message
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
      responses:
        '200':
          description: Message sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessage'

  /api/metrics:
    get:
      tags: [Health]
      summary: Prometheus metrics
      description: Returns metrics in Prometheus format
      responses:
        '200':
          description: Metrics
          content:
            text/plain:
              schema:
                type: string

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    HealthCheckResponse:
      type: object
      required: [status, timestamp, version, checks]
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        timestamp:
          type: string
          format: date-time
        version:
          type: string
        checks:
          type: object
          properties:
            database:
              type: object
              properties:
                status:
                  type: string
                latency:
                  type: number
            auth:
              type: object
              properties:
                status:
                  type: string
            environment:
              type: object
              properties:
                status:
                  type: string

    AIStatusResponse:
      type: object
      required: [available]
      properties:
        available:
          type: boolean
        model:
          type: string
        features:
          type: object
          properties:
            categorization:
              type: boolean
            anomalyDetection:
              type: boolean
            documentAnalysis:
              type: boolean

    AgentRequest:
      type: object
      required: [query]
      properties:
        query:
          type: string
          minLength: 1
        context:
          type: object
          properties:
            userId:
              type: string
            sessionId:
              type: string
            engagementId:
              type: string
        tools:
          type: array
          items:
            type: string

    AgentResponse:
      type: object
      required: [response, conversationId]
      properties:
        response:
          type: string
        conversationId:
          type: string
        toolsUsed:
          type: array
          items:
            type: string
        sources:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              url:
                type: string
              snippet:
                type: string

    ChatSession:
      type: object
      required: [id, userId, createdAt, updatedAt]
      properties:
        id:
          type: string
        userId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        metadata:
          type: object

    SendMessageRequest:
      type: object
      required: [sessionId, content]
      properties:
        sessionId:
          type: string
        content:
          type: string
          minLength: 1
        metadata:
          type: object

    ChatMessage:
      type: object
      required: [id, sessionId, role, content, createdAt]
      properties:
        id:
          type: string
        sessionId:
          type: string
        role:
          type: string
          enum: [user, assistant, system]
        content:
          type: string
        createdAt:
          type: string
          format: date-time
        metadata:
          type: object

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
        message:
          type: string
        code:
          type: string
        retryAfter:
          type: integer
